/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    margin-bottom: 15px;
    text-align: center;
    padding: 0 7px;
}

p {
    font-size: 1rem;
}

img {
    width: 100%;
}

header, .publi, footer {
    border: 1px solid #000;
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.gridContainer {
    display: grid;
    grid-template-columns: 2fr;
    border: 1px solid #000;
}

.lorem {
    margin: 0 7px;
    text-align: left;
}

.banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.banners > * {
    width: 100%;   
}

.widget {
    display: grid;
    border: 1px solid #000;
    margin-bottom: 15px;
}

/* Media queries */

/* min widt min-width: 768px */
@media screen and (min-width: 768px) {
    .container {
        width: 80%;
    }

}

/* min widt min-width: 992px */

@media screen and (min-width: 992px) {

}